@import "tailwindcss";

@theme {
  /* Background Colors */
  --color-primary: #0B0E11;
  --color-secondary: #1E2329;

  /* Primary and Secondary Colors (Yellow) */
  --color-primaryYellow: #F0B90B;
  --color-secondaryYellow: #FCD535;

  /* Text Colors */
  --color-textLight: #EAECEF;
  --color-textSecondary: #FAFAFA;
  --color-textWhite: #FFFFFF;

  /* Btn Colors */
  --color-btnGreen: #5DC787;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/Fonts/Sansation-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/Fonts/Sansation-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/Fonts/Sansation-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/Fonts/Sansation-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/Fonts/Sansation-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}


body{
    font-family: 'Sansation';
}