@import "tailwindcss";

@theme {
  --color-primary: #409eff;
  --color-primary-light-3: #3375b9;
  --color-primary-light-5: #2a598a;
  --color-primary-light-7: #213d5b;
  --color-primary-light-8: #1d3043;
  --color-primary-light-9: #18222c;
  --color-primary-dark-2: #66b1ff;
  --color-success: #67c23a;
  --color-success-light-3: #4e8e2f;
  --color-success-light-5: #3e6b27;
  --color-success-light-7: #2d481f;
  --color-success-light-8: #25371c;
  --color-success-light-9: #1c2518;
  --color-success-dark-2: #85ce61;
  --color-warning: #e6a23c;
  --color-warning-light-3: #a77730;
  --color-warning-light-5: #7d5b28;
  --color-warning-light-7: #533f20;
  --color-warning-light-8: #3e301c;
  --color-warning-light-9: #292218;
  --color-warning-dark-2: #ebb563;
  --color-danger: #f56c6c;
  --color-danger-light-3: #b25252;
  --color-danger-light-5: #854040;
  --color-danger-light-7: #582e2e;
  --color-danger-light-8: #412626;
  --color-danger-light-9: #2b1d1d;
  --color-danger-dark-2: #f78989;
  --color-error: #f56c6c;
  --color-error-light-3: #b25252;
  --color-error-light-5: #854040;
  --color-error-light-7: #582e2e;
  --color-error-light-8: #412626;
  --color-error-light-9: #2b1d1d;
  --color-error-dark-2: #f78989;
  --color-info: #909399;
  --color-info-light-3: #6b6d71;
  --color-info-light-5: #525457;
  --color-info-light-7: #393a3c;
  --color-info-light-8: #2d2d2f;
  --color-info-light-9: #202121;
  --color-info-dark-2: #a6a9ad;
  --el-box-shadow:
    0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  --el-box-shadow-dark:
    0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000,
    0px 8px 16px -8px #000;
  --el-bg-color-page: #0a0a0a;
  --el-bg-color: #141414;
  --el-bg-color-overlay: #1d1e1f;
  --el-text-color-primary: #e5eaf3;
  --el-text-color-regular: #cfd3dc;
  --el-text-color-secondary: #a3a6ad;
  --el-text-color-placeholder: #8d9095;
  --el-text-color-disabled: #6c6e72;
  --el-border-color-darker: #636466;
  --el-border-color-dark: #58585b;
  --el-border-color: #4c4d4f;
  --el-border-color-light: #414243;
  --el-border-color-lighter: #363637;
  --el-border-color-extra-light: #2b2b2c;
  --el-fill-color-darker: #424243;
  --el-fill-color-dark: #39393a;
  --el-fill-color: #303030;
  --el-fill-color-light: #262727;
  --el-fill-color-lighter: #1d1d1d;
  --el-fill-color-extra-light: #191919;
  --el-fill-color-blank: transparent;
  --el-mask-color: rgba(0, 0, 0, 0.8);
  --el-mask-color-extra-light: rgba(0, 0, 0, 0.3);

  --color-primary-primary1: #0040e2;
  --color-primary-primary2: #1b67ff;
  --color-primary-primary3: #0f5efc;
  --color-primary-primary4: #39559e;
  --color-primary-primary5: #1e2841;
  --color-primary-primary6: #171c29;
  --color-primary-primary7: #161a25;
  --color-primary-primary8: #247cff;
  --color-gray-gray0: #000;
  --color-gray-gray1: #131415;
  --color-gray-gray2: #26282a;
  --color-gray-gray3: #393c3f;
  --color-gray-gray4: #4b4f54;
  --color-gray-gray5: #5e6369;
  --color-gray-gray6: #858d97;
  --color-gray-gray7: #ced2d7;
  --color-gray-gray8: #e6e8eb;
  --color-gray-gray9: #e4e6e8;
  --color-gray-gray10: #fefefe;
  --color-gray-gray11: #fff;
  --color-secondary-secondary0: #030405;
  --color-secondary-secondary1: #080a0c;
  --color-secondary-secondary2: #212631;
  --color-secondary-secondary3: #2b2d34;
  --color-secondary-secondary4: #3f4249;
  --color-secondary-secondary5: #54565f;
  --color-secondary-secondary6: #686b74;
  --color-color-danger-danger1: #f53d55;
  --color-danger-danger2: #e52740;
  --color-danger-danger3: #fe5d72;
  --color-danger-danger4: #44212b;
  --color-success-success1: #19b473;
  --color-success-success2: #2ea56d;
  --color-success-success3: #24c682;
  --color-success-success4: #163d36;
  --color-warning-warning1: #f6a609;
  --color-warning-warning2: #f8b83a;
  --color-warning-warning3: #dd9508;
  --color-warning-warning4: #44341a;
  --color-warning-warning5: #ac7406;
  --color-text-text0: #fff;
  --color-text-text1: #f4f7ff;
  --color-text-text2: #ced3dd;
  --color-text-text3: #838a97;
  --color-text-text4: #a6a7aa;
  --color-text-text5: #383e48;
  --color-text-text6: #1e2127;
  --color-base-base1: #101112;
  --color-base-base2: #1b1c1f;
  --color-base-base3: #2e3035;
  --color-base-base4: #000;
  --color-base-base5: #000;
  --color-base-base6: #151617;
  --color-base-base7: #0b0c0d;
  --color-fill-fill1: #1b1c1f;
  --color-fill-fill2: #2e3035;
  --color-fill-fill3: #67686a;
  --color-fill-fill4: #232529;
  --color-fill-fill5: #2455d3;
  --color-fill-fill6: #26282a;
  --color-fill-fill7: #3b71ff;
  --color-fill-fill8: #17191d;
  --color-fill-fill9: #3d4046;
  --color-fill-fill10: #121417;
  --color-border-border1: #26282a;
  --color-border-border2: #2e3035;
  --color-opacity-mask: #060608;
  --color-fill-deposit: rgba(225, 232, 245, 0.08);
  --color-toasts-toasts1: #2b2d34;
  --color-toasts-toasts2: #393f45;
  --color-toasts-toasts3: #fff;
  --color-text-text1-inverse: #1e2127;
  --color-active-orange1: #ff7900;
  --color-active-violet1: #a3a0ff;
  --color-green-green1: #2ea56d;
  --color-green-green2: #19b473;
  --color-green-green3: #24d088;
  --color-green-green4: #163d36;
  --color-orange-orange1: #dd9508;
  --color-orange-orange2: #f6a609;
  --color-orange-orange3: #f8b83a;
  --color-orange-orange4: #281f15;
  --color-red-red1: #e52740;
  --color-red-red2: #f53d55;
  --color-red-red3: #fe5d72;
  --color-red-red4: #44212b;
  --color-unified-unified1: #fff;
  --color-unified-unified2: #e9ecf0;
  --color-unified-unified3: #000;
  --color-unified-unified4: #2164f4;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/Fonts/Sansation-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/Fonts/Sansation-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/Fonts/Sansation-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/Fonts/Sansation-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/Fonts/Sansation-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

*,
body,
html {
  font-family:
    "Sansation",
    anjoman,
    Helvetica Neue,
    Helvetica,
    PingFangSC,
    -apple-system,
    Microsoft YaHei,
    微软雅黑,
    Arial,
    sans-serif !important;
}
