/* در فایل CSS اصلی پروژه */
.tv-lightweight-charts {
  background-color: #101112 !important;
}

.chart-container > div {
  background-color: #101112 !important;
}

[class*="pane"] {
  background-color: #101112 !important;
}

[class*="background"] {
  background-color: #101112 !important;
}
